* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* .Content-Container {
    display: flex;
    justify-content: flex-start;
} */
.hero-image {
    height: 10rem;
    background-image: url("./Images/flowerbanner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}
.hero-text h2 {
    float: right;
    display: block;
    padding-top: 5px;
    padding-right: 5rem;
    font-size: 2.5rem;
    color: #88518a;
}
.hero-text h1 {
    color: #88518a;
    font-size: 2.5rem;
    padding-left: 5rem;
}
.btn {
    border: none;
    background-color: rgb(195, 244, 158);
    cursor: pointer;
    padding: 1rem;
    color: #88518a;
    font-size: 1rem;
    justify-content:center;
}
.navBar {
    width: 130rem;
    background-color: rgb(195, 244, 158);
}
body {
    overflow-x: hidden;
}
.card-img-top {
    height: 15rem;
    width: 90rem;
    margin-top: 2.5rem;
    background-image: url("./Images/my-photo.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .5rem;
    display: block;
}
.card {
    height: 25rem;
    width: 49rem;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border: none;
    /* border-width: .5rem;
    border-color: #88518a; */
    background-image: linear-gradient(315deg, #739b75 0%, #a0d22c 74%);
    border-radius: 4rem;
    margin-top: 5rem;
}
.card-text {
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
}
.contact-Me {
    margin-top: 1rem;
    margin-left: 1rem;
} 
#contact {
    margin-top: 4rem;
    margin-left: 14rem;
}
input {
    border-radius: 1rem;
}
textarea {
    width: 25rem;
    border: 3px solid #cccccc;
    padding: 5px;
    border-radius: 1rem;
}
#submit {
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    border-color: rgb(25, 136, 68);
    cursor: pointer;
    background-image: linear-gradient(315deg, rgb(25, 136, 68) 0%, rgb(0, 255, 115) 74%);
    box-shadow: 3px 5px;
}
.Resume {
    position: relative;
    left: 20rem;
    top: 13rem;
    padding: 1rem;
    border-radius: 1rem;
    border-color: rgb(25, 136, 68);
    cursor: pointer;
    background-image: linear-gradient(315deg, rgb(25, 136, 68) 0%, rgb(0, 255, 115) 74%);
    box-shadow: 3px 5px;
    width: 15rem;
    color: #88518a;
}
.content-Container {
    display:flex;
    justify-content: space-around;
    margin-top: 8rem;
}
.Footer {
    height: 5.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(195, 244, 158); 
}
